language: android
jdk: oraclejdk8
android:
  components:
    - platform-tools
    - tools
    - build-tools-25.0.2
    - android-25
    - extra-google-m2repository

before_install:
  - chmod +x gradlew

script:
  - ./gradlew build connectedCheck --stacktrace --info